body {
	font-family: 'Julius Sans One', sans-serif;
}

.btn {
	margin: 5px;
}

h1 {
	font-family: 'Nosifer', cursive;
}

#result {
	display: flex;
	flex-wrap: wrap;
}

#addActor {
	margin-left: 20px;
}